@import "./src/scss/variables";

.toast-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
  padding: 1%;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
  margin: 1% auto;

  &:hover {
    filter: brightness(110%);
  }

  &:active {
    filter: blur(20%);
    border-bottom: 1px solid white;
  }
}

.success {
  background: $success;
}

.info {
  background: $info;
}

.alert {
  background: $error;
}

.warn {
  background: $warn;
}

.link {
  background: $tertiary;
}
