<ng-container *transloco="let t; read: 'businessCard'">
  <button (click)="addImage()">{{ t("addImage") | titlecase }}</button>
  <button (click)="randomImage()">{{ t("randomImage") | titlecase }}</button>
  <button (click)="toggle()">{{ t("remove") | titlecase }}</button>
  <label for="radius"
    >{{ t("border radius") | titlecase }}
    <input
      type="range"
      id="radius"
      name="points"
      min="0"
      max="25"
      class="slider"
      [value]="0"
      (change)="borderRadiusSelect($event)"
    />
  </label>
  <label for="opacity"
    >{{ t("opacity") | titlecase }}
    <input
      type="range"
      id="opacity"
      name="points"
      min="0"
      max="100"
      class="slider"
      [value]="100"
      (change)="opacitySelect($event)"
    />
  </label>
  <label for="width"
    >{{ t("width") | titlecase }}
    <input
      type="range"
      id="width"
      name="points"
      min="0"
      max="500"
      class="slider"
      [value]="this.currentImage.width"
      (change)="widthSelect($event)"
    />
  </label>
  <label for="height"
    >{{ t("height") | titlecase }}
    <input
      type="range"
      id="height"
      name="points"
      min="0"
      max="400"
      class="slider"
      [value]="this.currentImage.height"
      (change)="heightSelect($event)"
    />
  </label>
</ng-container>
