<div class="language-toggle-container">
  <raf-language-icon
    [icon]="'EN'"
    [active]="selectedLanguage === 'en'"
    (select)="setActive('en')"
  ></raf-language-icon>
  <raf-language-icon
    [icon]="'ES'"
    [active]="selectedLanguage === 'es'"
    (select)="setActive('es')"
  ></raf-language-icon>
  <raf-language-icon
    [icon]="'PT'"
    [active]="selectedLanguage === 'pt'"
    (select)="setActive('pt')"
  ></raf-language-icon>
  <raf-language-icon
    [icon]="'FR'"
    [active]="selectedLanguage === 'fr'"
    (select)="setActive('fr')"
  ></raf-language-icon>
  <raf-language-icon
    [icon]="'DE'"
    [active]="selectedLanguage === 'de'"
    (select)="setActive('de')"
  ></raf-language-icon>
</div>
