.card {
  height: 300px;
  width: 500px;
  margin: 25px 66px;
  font-size: 22px;
  text-align: left;
  padding: 1%;
  box-shadow: 6px 5px 94px 0 rgba(220,220,220,0.75);
  position: fixed;

  > div {
    width: fit-content;
  }
}
