<div
  class="contact-links"
  cdkDrag
  cdkDragBoundary=".main"
  *transloco="let t; read: 'main'"
>
  <raf-widget-header
    cdkDragHandle
    [locked$]="contactLinksLocked$"
    [type]="'links'"
    (close)="close.emit()"
    (lock)="lock.emit()"
  ></raf-widget-header>
  <div class="links">
    <a target="_blank" href="https://www.linkedin.com/in/robert-a-fischer/"
      >LinkedIn</a
    >
    <a target="_blank" href="https://github.com/rafischer1/">GitHub</a>
    <a target="_blank" href="mailto:artiefischer@gmail.com">Email</a>
  </div>
</div>
