<div class="toast-buttons-container">
  <raf-toast-button
    [type]="'success'"
    (show)="showToast('success')"
  ></raf-toast-button>
  <raf-toast-button
    [type]="'info'"
    (show)="showToast('info')"
  ></raf-toast-button>
  <raf-toast-button
    [type]="'warn'"
    (show)="showToast('warn')"
  ></raf-toast-button>
  <raf-toast-button
    [type]="'alert'"
    (show)="showToast('alert')"
  ></raf-toast-button>
  <raf-toast-button
    [type]="'link'"
    (show)="showToast('link')"
  ></raf-toast-button>
</div>
