@import "./src/scss/variables";

.contact-info {
  background: #f5eaff;
  width: 500px;
  height: 200px;
  color: white;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 3px 8px 9px 0 rgba(149, 149, 149, 0.52);
}

h2 {
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #4a4a4a;
  font-weight: bolder;
  margin: 5% 5%;
  font-size: 24px;
  width: 100%;
  font-family: Seravek, serif;
}
