<div
  class="contact-info"
  cdkDrag
  cdkDragBoundary=".main"
  *transloco="let t; read: 'main'"
>
  <raf-widget-header
    cdkDragHandle
    [locked$]="contactInfoLocked$"
    [type]="'info'"
    (close)="close.emit()"
    (lock)="lock.emit()"
  ></raf-widget-header>
  <div class="information">
    <div>
      <raf-info-tab
        (toggle)="toggleInfoTab('nameTab')"
        [active$]="getObservable$('nameTab')"
        [title]="'name'"
      ></raf-info-tab
      >Robert A Fischer (Artie) (He/Him)
    </div>
    <div>Boulder, Colorado, USA (Remote)</div>
    <div>Full Stack Software Developer</div>
  </div>
</div>
