<div class="card-form">
  <label>
    Name
    <input type="text" (change)="nameChange($event)" />
  </label>
  <label>
    Email
    <input
      type="email"
      (change)="emailChange($event)"
      minlength="3"
      maxlength="64"
    />
  </label>
  <label>
    Background Color
    <input type="color" (change)="backgroundColorChange($event)" />
  </label>
  <br />
  <raf-font-form
    [type]="'primary'"
    (fontEvent)="captureFontEvent($event)"
  ></raf-font-form>
  <br />
  <raf-font-form
    [type]="'secondary'"
    (fontEvent)="captureFontEvent($event)"
  ></raf-font-form>
</div>
