<div class="card-form" *transloco="let t; read: 'businessCard'">
  <mat-tab-group>
    <mat-tab label="{{ t('general') | titlecase }}">
      <label>
        {{ t("name") | titlecase }}
        <input type="text" (change)="nameChange($event)" />
      </label>
      <label>
        Email
        <input
          type="email"
          (change)="emailChange($event)"
          minlength="3"
          maxlength="64"
        />
      </label>
      <label>
        {{ t("phone") | titlecase }}
        <input type="text" (change)="phoneChange($event)" />
      </label>
      <label>
        {{ t("position") | titlecase }}
        <input type="text" (change)="positionChange($event)" />
      </label>
      <label>
        <button (click)="randomPosition()">
          {{ t("random") | titlecase }} {{ t("position") | titlecase }}
        </button>
      </label>
      <label id="catchPhrase">
        {{ t("catch phrase") | titlecase }}
        <input type="text" (change)="catchPhraseChange($event)" />
      </label>
      <label>
        <button (click)="randomCatchPhrase()">
          {{ t("random") | titlecase }} {{ t("catch phrase") | titlecase }}
        </button>
      </label>
      <label>
        {{ t("background") | titlecase }} {{ t("color") | titlecase }}
        <input
          type="color"
          id="background"
          (change)="backgroundColorChange($event)"
        />
      </label>
      <label for="radius"
        >{{ t("border radius") | titlecase }}
        <input
          type="range"
          id="radius"
          name="points"
          min="0"
          max="110"
          class="slider"
          [value]="0"
          (change)="borderRadiusSelect($event)"
        />
      </label>
    </mat-tab>
    <mat-tab label="{{ t('image') | titlecase }}">
      <raf-image-form
        (imageAdd)="addImage($event)"
        (toggleImage)="toggleImage($event)"
      ></raf-image-form
    ></mat-tab>
    <mat-tab label="{{ t('primary') | titlecase }} {{ t('font') | titlecase }}">
      <raf-font-form
        [type]="'primary'"
        (fontEvent)="captureFontEvent($event)"
      ></raf-font-form>
    </mat-tab>
    <mat-tab
      label="{{ t('secondary') | titlecase }} {{ t('font') | titlecase }}"
    >
      <raf-font-form
        [type]="'secondary'"
        (fontEvent)="captureFontEvent($event)"
      ></raf-font-form>
    </mat-tab>
    <mat-tab
      label="{{ t('tertiary') | titlecase }} {{ t('font') | titlecase }}"
    >
      <raf-font-form
        [type]="'tertiary'"
        (fontEvent)="captureFontEvent($event)"
      ></raf-font-form>
    </mat-tab>
  </mat-tab-group>
</div>
