@import "src/scss/forms";
@import "src/scss/variables";

.card-form {
  display: flex;
  flex-direction: column;
}

::ng-deep.mat-tab-labels,
::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 70px !important;
  padding: 3px !important;
  margin: 3px !important;
  color: white !important;
  background: #2d2d2d !important;
}

::ng-deep.mat-tab-group.mat-primary mat-ink-bar {
  color: $secondary !important;
  background: $secondary !important;
}
