<div class="nav-bar" *transloco="let t; read: 'nav'">
  <button (click)="navTo('')" class="checklist-btn">
    {{ t("home") | titlecase }}
  </button>
  <button (click)="openChecklist()" class="checklist-btn">
    {{ t("checklist") | titlecase }}
  </button>
  <button (click)="navTo('toasts')" class="checklist-btn">
    {{ t("toasts") | titlecase }}
  </button>
  <button (click)="toggleLogger()" class="checklist-btn">
    {{ t("logger") | titlecase }}
  </button>
  <raf-language-toggle style="float: right"></raf-language-toggle>
</div>
