<div class="nav-bar" *transloco="let t; read: 'nav'">
  <button (click)="navTo('')" class="checklist-btn">
    {{ t("home") | titlecase }}
  </button>
  <button (click)="openChecklist()" class="checklist-btn">
    {{ t("checklist") | titlecase }>
  </button>
  <button (click)="navTo('toasts')" class="checklist-btn" id="toasts">
    {{ t("toasts") | titlecase }}
  </button>
  <button (click)="navTo('biz')" class="checklist-btn">
    {{ t("businessCard") | titlecase }}
  </button>
  <button (click)="toggleLogger()" class="checklist-btn">
    {{ t("logger") | titlecase }}
  </button>
  <button (click)="navTo('halloween')" class="checklist-btn halloween" id="halloween">
    🎃 {{ t("halloween") | titlecase }} 🎃
  </button>
  <raf-language-toggle style="float: right"></raf-language-toggle>
</div>
