@import "./src/scss/variables";

.checklist {
  border: 1px solid $light-grey;
  z-index: 999999;
  position: fixed;
  background: $dark;
  color: white;
  margin: auto auto;
  width: 50%;
  padding: 1%;
  border-radius: 5px;
}
