<div class="main">
  <ngx-skeleton-loader
    *ngIf="!(loggerActive$ | async)"
    count="2"
    appearance="circle"
    animation="pulse"
  ></ngx-skeleton-loader>
  <raf-contact-graph
    *ngIf="!(contactGraphClosed.asObservable() | async)"
    (log)="logComponentEnter('skills')"
    [contactGraphLocked$]="contactGraphLocked.asObservable()"
    (lock)="lock('skills')"
    (close)="close('skills')"
  ></raf-contact-graph>
  <raf-contact-links
    *ngIf="!(contactLinksClosed.asObservable() | async)"
    (log)="logComponentEnter('links')"
    [contactLinksLocked$]="contactLinksLocked.asObservable()"
    (lock)="lock('links')"
    (close)="close('links')"
  ></raf-contact-links>
  <raf-contact-info
    *ngIf="!(contactInfoClosed.asObservable() | async)"
    (log)="logComponentEnter('info')"
    [contactInfoLocked$]="contactInfoLocked.asObservable()"
    (lock)="lock('info')"
    (close)="close('info')"
  ></raf-contact-info>
  <div class="main-side-bar-icons">
    <raf-main-side-bar-icon
      [type]="'skills'"
      [active]="contactGraphClosed.asObservable() | async"
      (open)="close('skills')"
    ></raf-main-side-bar-icon>
    <raf-main-side-bar-icon
      [type]="'links'"
      [active]="contactLinksClosed.asObservable() | async"
      (open)="close('links')"
    ></raf-main-side-bar-icon>
    <raf-main-side-bar-icon
      [type]="'info'"
      [active]="contactInfoClosed.asObservable() | async"
      (open)="close('info')"
    ></raf-main-side-bar-icon>
  </div>
</div>
