$primary: #3D7EBE;
$secondary: #3DBEBE;
$tertiary: #7E3DBE;

$error: #DD435A;
$warn: #ddc643;
$success: $secondary;
$info: #E0E0E0;

$dark: #2D2D2D;
$light-grey: #717171;

$font-family-sans-serif: "Avenir", Arial, sans-serif;
$text-transform: capitalize;
