$primary: #4f8fd4;
$secondary: #3dbebe;
$tertiary: #7e3dbe;

$error: #de3f57;
$warn: #ddc643;
$success: $secondary;
$info: rgba(224, 224, 224, 0.95);

$dark: #2d2d2d;
$light-grey: rgba(113, 113, 113, 0.96);

$font-family-sans-serif: "Avenir", Arial, sans-serif;
$text-transform: capitalize;

button {
  padding: 1% 2%;
  color: white;
  cursor: pointer;
  margin: 2px;
  border-radius: 5px;
  background: $primary;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-weight: bolder;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  filter: brightness(80%);
}

h2 {
  text-align: center;
}
